body {
  background-color: #eee;
  border-bottom: 50px solid #eee;
  font-family: 'Raleway', sans-serif;
}

input, button {
  outline: none;
}

.App {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
  background-image: url('./bg.png');
  border-top: 4px solid #dd5a5a;
  border-bottom: 4px solid #dd5a5a;
}

.container {
  background-color: #fff;
  width: 90%;
  margin: auto;
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 3px solid #eee;
}

.quoter {
  padding-top: 30px;
  font-style: italic;
  color: #777;
}

/* Global Colors
CHERRY-JELLO: ff0000
GRAY: ddd
WHITE: fff
SALMON: f96a6a
DARK PINK: dd5a5a

*/


.header {
  font-size: 48px;
  border-top: 15px solid #eee;
  -webkit-font-smoothing: antialiased;
  height: 100px;
  padding: 20px;
  width: 90%;
  margin: auto;
  color: #f96a6a;
  background-color: #fff;
  font-family: 'Lobster', cursive;
  margin-top: 60px;
  border-radius: 5px 5px 0px 0px;
}

.header hr {
  border: 2px solid pink;
  width: 90%;
}

/* Column Styles */
.listTitle {
  border: 2px solid #ff0000;
}

.editTitle {
  font-style: italic;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 14px;
  text-align: center;
}

.newCol {
  padding-top: 15px;
  margin-left: 10px;
}

::placeholder {
  color: #eee;
}


/* Task Styles */

.addTask {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 5px;
  text-align: center;
  font-style: italic;
  color: #777;
}

.newColInput {
  border-top: 5px solid #f96a6a;
  padding: 5px 0px;
}

.addTask button {
  border: 0px;
  font-size: 20px;
  border-radius: 100px;
  background-color: #dd5a5a;
  outline: none;
  margin-top: 5px;
}

.addBtn {
  display: inline-block;
  margin-bottom: 2px;
  color: #f96a6a;
}

.addBtn:hover {
  color: #fff;
}

.addTask button:hover {
  cursor: pointer;

}

.del {
  border: 0px;
  font-size: 9px;
  border-radius: 100px;
  color: #fff;
  background-color: #ff0000;
  outline: none;
  padding: 2px 3px;
  margin-left: 5px;
}

.del:hover {
  cursor:pointer;
}
